/* Global CSS */
:root {
  --blue1: #b0cae3; /* Define your colors here */
  --blue2: #2f4ec1;
  --pink: #d161a6;
  --bg-color: #ecf0f1;
  --grey: rgb(198, 205, 211);
  --white: #ffffff;
  --text-color: #333;
  --grad1: linear-gradient(50deg, rgba(99,37,187,1) 0%, rgba(47,78,193,1) 53%, rgba(129,230,255,1) 100%);
  --grad2: linear-gradient(50deg, rgba(209,97,166,1) 0%, rgba(101,0,166,1) 31%, rgba(71,21,215,1) 69%, rgba(40,238,226,1) 100%);
  --grad3: linear-gradient(50deg, rgb(255, 237, 248) 0%, rgb(248, 236, 255) 31%, rgb(227, 218, 255) 69%, rgb(234, 255, 254) 100%);
}
/* variables */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background-color: var(--white);
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


h1 {
  font-size: 80px;
  font-weight: 900;
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--bg-color);
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  font-size: 50px;
  font-weight: 550;
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--bg-color);
  opacity: 70%;
  margin-top: 5px;
  margin-bottom: 5px;
}


.banner--container {
  width: 100%;
  height: 800px;
  background: var(--grad2);
  margin-top: 0px;
  background-size: 300%;
  animation: bg--animation 20s infinite alternate;
  justify-content: center;
}

@keyframes bg--animation {
  0% {
    background-position: left;
  }
  100%{
    background-position: right;
  }
}

.home--titles {
  display: block;
  padding-right: 100px;
}

.title--and--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60;
  height: 55%;
  margin: auto;
  position: relative;
  top:250px;
}

.location--title {
  font-size: 25px;
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  opacity: 70%;
  color: var(--bg-color);
}

.btn--container {
  margin-top: 40px;
}

.btn--port {
  text-decoration: none;
  padding-inline: 30px;
  padding-block: 10px;
  font-size: 20px;
  font-family: "Space Mono", sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
  color: var(--bg-color);
  border-color: var(--bg-color);
  background-color: #ffffff00;
  border-width: 1.5px;
  border-style: solid;
  border-radius: 10px;
  
}

.btn--port:hover {
  cursor: pointer;
  color: var(--blue2);
  background-color: var(--bg-color);
  transition: 0.3s;
}

.logo--container {
  padding: 5px;
}

.vector--logo {
  fill: var(--bg-color);
  width: 300px;
  transition: 0.3s;
}

.vector--logo:hover {
  /*-webkit-filter: drop-shadow(12px 12px 7px rgba(255, 255, 255, 0.717));*/
  filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.596));
}

.down--container {
  margin-top: 280px;
  margin-inline: auto;
  width:100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.down--arrow {
  width: 30px;
  height: auto;
  opacity: 70%;
  transition: 0.3s;
}

.down--arrow:hover {
  opacity: 100%;
}

/* HOME BODY */
.homebody--container {
  margin-top: 200px;
  height: 800px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.homebody--main {
  background-image: var(--grad3);
  border-radius: 15px;
  padding-block: 100px;
  width: 60%;
  height: fit-content;
  display: block;
}

.homebody--content {
  display: flex;
  margin-inline: 50px;
}

.homebody--title {
  color: var(--pink);
  font-size: 50px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  font-family: 'Space Mono', sans-serif;
  letter-spacing: 3px;
}

.homebody--text {
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--text-color);
  font-size: 22px;
  width: 100%;
}

.homebody--feat {
  background-color: var(--bg-color);
  border-radius: 15px;
  height: 400px;  /* Fixed height of the container */
  width: 50%;     /* Takes up 50% of the parent element's width */
  display: flex;
  justify-content: center;
  align-items: center;
}

.homebody--feat video {
  width: 100%;        /* Ensures the width is always 100% of the container */
  height: 100%;       /* Height adjusts automatically based on the width */
  object-fit: cover;  /* Ensures the video covers the container area, allowing for vertical cropping */
}



/* NAVBAR */

.home-navbar, .default-navbar {
  backdrop-filter: blur(10px);
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  z-index: 10;
  transition: background-color 0.3s ease-in-out;
}

.nav--text {
  width: 60%;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.home-linker {
  width: 100px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding-inline: 60px;
  padding-block: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Space Mono", sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
  color: var(--bg-color);
}

.default-navbar {
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(10px);
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  z-index: 10;
  transition: background-color 0.3s ease-in-out;
}

.default-linker {
  width: 100px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding-inline: 60px;
  padding-block: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Space Mono", sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
  color: var(--text-color);
}

.home-linker:hover {
  cursor: pointer;
  color: var(--blue2);
  background-color: var(--bg-color);
  transition: 0.3s;
}

.default-linker:hover {
  cursor: pointer;
  color: var(--bg-color);
  background-color: var(--pink);
  transition: 0.3s;
}

.active {
  font-weight: 550;
}


/* PORTFOLIO */
.port--container {
  height: fit-content;
  position: relative;
  margin-top: 50px;
  padding-top: 100px;
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.port--main {
  width: 60%;
  margin: auto;
  display: block;
}

.port--title {
  color: var(--pink);
  font-size: 50px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  font-family: 'Space Mono', sans-serif;
  letter-spacing: 3px;
}

.port--text {
  color: var(--text-color);
  padding-top: 30px;
  font-size: 22px;
}

.proj--display {
  margin-bottom: 100px;
  background-color: var(--bg-color);
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.proj--container {
  position: relative;
  margin-block: 10px;
  margin-inline: 10px;
  background-color: var(--blue2);
  transition: 0.3s;
  border-radius: 15px;
  width: 1fr;
  overflow:hidden;
  height: 300px;
  display: flex;
}

.proj--container img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.proj--overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  mix-blend-mode: multiply;
  background-image: linear-gradient(180deg, rgba(0, 0, 72, 0.3) -10%, rgba(76, 91, 148, 0.2) 15%, rgba(129,230,255,0) 100%);;
}

.proj--container:hover {
  cursor: pointer;
  background-color: var(--pink);
  filter: drop-shadow(0px 5px 5px rgba(1, 24, 65, 0.3));
}

.proj--name {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  height:30px;
  color: var(--white);
  font-weight: 600;
}

.proj--info {
  position: absolute;
  margin-top: 260px;
  margin-left: 5px;
  align-self: baseline;
  height: 30px;
  color: var(--blue2);
  display: flex;
  align-items: center;
}

.proj--tech {
  text-transform: uppercase;
  font-family: "Space Mono", sans-serif;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--white);
  border-radius: 10px;
  padding-inline: 10px;
  margin-inline: 5px;
}

.design--display {
  background-color: var(--bg-color);
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.design--container {
  margin-block: 10px;
  margin-inline: 10px;
  background-color: var(--blue2);
  transition: 0.3s;
  border-radius: 15px;
  width: 1fr;
  overflow:hidden;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.design--container:hover {
  cursor: pointer;
  background-color: var(--pink);
  filter: drop-shadow(0px 5px 5px rgba(1, 24, 65, 0.3));
}

.design--container img {
  height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.see-more-btn--cont {
  margin-bottom: 10px;
  width: 1fr;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.see-more--btn {
  text-decoration: none;
  font-size: 16px;
  font-family: 'Space-Mono', monospace;
  border-width: 1.5px;
  border-style: solid;
  border-color: var(--grey);
  color: var(--text-color);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
  padding-block: 8px;
  transition: 0.3s;
}

.see-more--btn:hover {
  cursor: pointer;
  color: var(--pink);
  border-color: var(--pink);
}

/* FOOTER */

.footer--container {
  margin-top:50px;
  background-color: var(--bg-color);
  height: 250px;
  display: block;
  justify-content: center;
}

.footer--icon--box {
  display: flex;
  height: 50%;
  justify-content: center;
  align-items:flex-end;
}

.footer--icons {
  height: 28%;
  display: inline;
}

.icon img {
  height: 100%;
  margin-inline: 25px;
}

.footer--text {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--text-color);
}