/* Global CSS */
:root {
  --blue1: #b0cae3; /* Define your colors here */
  --blue2: #2f4ec1;
  --bg-color: #ecf0f1;
  --text-color: #333;
  --grad1: linear-gradient(50deg, rgba(99,37,187,1) 0%, rgba(47,78,193,1) 53%, rgba(129,230,255,1) 100%);
  --grad2: linear-gradient(50deg, rgba(101,0,166,1) 0%, rgba(46,0,177,1) 34%, rgba(68,66,224,1) 70%, rgba(40,92,238,1) 100%);
}
/* variables */

body {
  margin: 0px;
  background-color: var(--bg-color);
}


h1 {
  font-size: 60px;
  font-family: Helvetica, sans-serif;
  color: var(--bg-color);
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  font-size: 30px;
  font-family: Helvetica, sans-serif;
  color: var(--blue1);
  margin-top: 5px;
  margin-bottom: 5px;
}


.banner--container {
  width: 100%;
  height: 600px;
  background: var(--grad2);
  margin-top: 0px;
  background-size: 300%;
  animation: bg--animation 25s infinite alternate-reverse;
}

@keyframes bg--animation {
  0% {
    background-position: left;
  }
  100%{
    background-position: right;
  }
}

.home--titles {
  display: block;
  padding-right: 100px;
}

.title--and--logo {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 50%;
  margin: auto;
  position: relative;
  top:250px;
}

.btn--container {
  width: 300px;
  min-height: 150px;
}

.btn--port {
  width: 150px;
  height: 50px;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  color: var(--bg-color);
  border-color: var(--bg-color);
  background-color: #ffffff00;
  border-width: 1.5px;
  border-style: solid;
  border-radius: 10px;
  
}

.btn--port:hover {
  cursor: pointer;
  color: var(--blue2);
  background-color: var(--bg-color);
  transition: 0.3s;
}

.logo--container {
  padding: 5px;
}

.vector--logo {
  fill: var(--bg-color);
  width: 250px;
}

.vector--logo:hover {
  fill: var(--blue1);
  transition: 0.3s;
}

/* HOME BODY */
.homebody--container {
  color: var(--text-color);
  position: relative;
  top: 10px
}



/* NAVBAR */

.nav--container {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  z-index: 10;
}

.nav--text {
  width: 70%;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav--link {
  padding-inline: 60px;
  padding-block: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  color: var(--bg-color);
}

.nav--link:hover {
  cursor: pointer;
  color: var(--blue2);
  background-color: var(--bg-color);
  transition: 0.3s;
}